//Biến
$primary: #70c6a6;
$heading: #4d4959;
$text: #848789;
$input-border: #d3d7d9;
$input-text: #929292;
$bg-light: #f7f7f7;
$bg-dark: #1a1c28;
$res_768 :" only screen and (min-width: 768px) and (max-width: 1179px)";

